local wezterm = require("wezterm")

local config = wezterm.config_builder()

config.set_environment_variables = {
	XDG_CONFIG_HOME = "{{ .home_root }}/configuration",
}

config.font = wezterm.font("Terminess Nerd Font Mono")
config.font_size = 14.0
config.color_scheme_dirs = {
  "{{ .home_root }}/configuration/wezterm/colors",
}

local appearance = "Dark"
if wezterm.gui then
  appearance = wezterm.gui.get_appearance()
end

if appearance:find("Dark") then
  config.color_scheme = "laserwave-hi_c"
  config.window_background_opacity = 0.8
else
  config.color_scheme = 'BlulocoLight'
  config.window_background_opacity = 1.0
  config.colors = {
    background = '#ffffff'}

end

wezterm.on("window-resized", function(window, _)
  local overrides = window:get_config_overrides() or {}
  local opacity = window:get_dimensions().is_full_screen and 1.0 or nil
  if overrides.window_background_opacity ~= opacity then
    overrides.window_background_opacity = opacity
    window:set_config_overrides(overrides)
  end
end)

return config